.main {
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 5px;
}


.movie img {
  cursor: pointer;
  height: 100%;
}

.green {
  color: lightgreen;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.vote {
  background-color: rgb(235, 235, 235);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  width: 25%;
}
.zoom:hover{
  transition: transform .5s;
  transform: scale(1.1);
}

.bg-netflix{
  background-color: #141414;
}

.affiche{
  height: 100px;
  width: 300px;
}